.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;

}


.cardBook{
  padding: 5px;
  background-color: #DEDEDE;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
}