.App {
  text-align: center;
}

.Livro_imagem {
  height: 40vmin;
  border: 1px solid rgba(0, 0, 0, 0.288);
}
.Livro_imagem:hover{
  transform: scale(1.5);
  transition: .2s ease-in;
}
.container {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
} 

.cardBook{
  padding: 5px;
  background-color: #DEDEDE;
  width: 300px;
  border-radius: 10px;
  margin: 10px;
  align-items: center;
}


